@font-face {
    font-family: czcionkajeden;
    src: url(font/SHOWG.TTF);
}
body {
    font-family: Bookman Old Style;
    background-image: url(img/mikeyc.jpg);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#baner, #stopka {
    width: 100%;
    height: 100px;
    float: left;
}
#lewo, #prawo {
    width: 25%;
    height: 700px;
    float: left;
}
#main {
    width: 50%;
    height: 700px;
    float: left;
    box-shadow: 2px 2px 8px dimgray;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 20px;
}
#bannerd {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}
#av {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    transform: translateY(-150px);
    border: 5px solid black;
}
#nick {
    font-family: czcionkajeden;
    font-size: 280%;
    color: yellow;
    text-align: right;
    padding-right: 40px;
    transform: translateY(-250px);
    width: 50%;
    float: right;
}
#linki {
    translate: 0px -315px;
    text-align: left;
    padding-left: 2%;
    word-spacing: 20px;
    width: 50%;
    float: left;
    transform: translateY(-27px);
}
#linki img {
    width: auto;
    height: 50px;
}
@keyframes powieksz {
    from {height: 50px;}
    to {height: 55px;}
}
#linki img:hover {
    animation-name: powieksz;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#imj {
    position: sticky;
}